* {
    box-sizing : border-box;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    align-content: flex-start;
}

header {
    background-color: #CCDDFF;
    width: 100%; 
    height: 200px; 
}

nav {
    background-color: #FFDDCC;
    width: 20%;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav li {
    background-color: #FFF;
    padding: 1em;
    width: 100%;
    margin-bottom: 1em;
}

section {
    background-color: #CCFFDD;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    padding: 1em;
}

section h2 {
    width: 100%;
}

article {
    background-color: #FFF;
    padding: 1em;
    width: 36%;
    border: 1px solid #111;
}

aside {
    background-color: #FFDDCC;
    width: 20%;
}

footer {
    background-color: #CCDDFF;
    width: 100%;
    height: 100px;
}