:root {
    --txt: #FFFFFF;
    --txt2: #CCCCCC;
    --bg: #44474E;
    --bg-dark: #33373E;
    --bg-light: #55575E;
    --border: 1px solid #111;
    --border2: 2px solid #111;

}

* {
    box-sizing: border-box;
}
body{
    color: var(--txt);
    background: var(--bg-light);
    font-family: Arial, Helvetica, sans-serif;
}
/*-----------------------------Bakery------------------------------ */
#bakery{
    margin-top: 5px;
    border: var(--border2);
}
#bakery> header {
    background-color: var(--bg-dark) ;
    border-bottom: var(--border2);
    
}
#bakery> div {
    background-color: var(--bg);
    
}
#bakery > header , #bakery > div{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 3px;
}
#bakery h2{
    margin: 5px;
}
#bakery td{
    text-align: right;
}
#bakery td{
    
    width: 100px;
}
.last{
    width: 100px ;
    color: var(--txt2);
}
#bakery th{
    color: var(--txt2);
    text-align: left;
    
}
.tdbtn{
  width: 20px!important;
}
.plus{
    border-radius: 50%;
    background-color: var(--bg-dark);
    color: var(--txt);
    margin-left: 15px;
}
.lightning::after{
    content: "⚡";
    
}
.gold::after{
    content: "💰";
   
}
.flour::after{
    content:"🥌";
}
.baguette::after{
    content:"🥖";
}
.mills::after{
    content:"";
    background-image: url("./assets/mill.png");
    background-size: contain;
    display:inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    background-repeat: no-repeat;
}

/*-------------------------------------- HEADER --------------------------------- */

.start{
    display: inline-block;
   
    background:var(--bg-dark) ;
    border:solid 1px black;
    color: var(--txt);
}
header{

    display:flex ;
    justify-content: space-between;
    align-items: stretch;
    
 
}
header th{

    background: var(--bg-dark);
}
h1{

    margin-top: 0;
}
header td{
    background: var(--bg) ;
}


header th, header td{

    padding: 9px 5px;
   text-align: center;
   
}
table{

    border-spacing: 0;
    border-collapse: collapse;
}

div > img{

    width: 160px;
    transform: rotateY(180deg);
    filter: grayscale(0.5);
}
/* ----------------------- Orders -------------------*/
#orders {
    border:var(--border2);
    margin-top: 5px;
    width: 100%;
    
   
}
#orders >header {
    background-color: var(--bg-dark);
    border-bottom: var(--border2);
    
}

#orders h1{
   
    
    margin: 8px;
    
}
#orders table{
   width: 100%;
}
#orders td{
    padding: 5px;
}
#orders th {
    background-color:#253539 ; 
    padding: 5px;
}
#orders tr:nth-child(even){
    background-color: #44474E;
}
#orders tr:nth-child(odd){
    background-color: #374046;
}
#orders td:not(:last-child) {
    text-align: center;
    width: 12%;
}
