

fieldset {
    border-radius: 5px;
}

div, textarea {
    padding: 1em;
}

label {
    display: inline-block;
    width: 200px;
}

.myForm input {
    width: 200px;
}

.myForm input[type="checkbox"], 
.myForm input[type="radio"] {
    width: auto;
}